/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    font-family: Helvitca, sans sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

h1 {
    background-color: #0B7C2B;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 40px;
    margin: 0;
}

h2 {
    text-align: center;
}

.links {
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
    position: relative;
    bottom: 30px;
}

.content {
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

.content article {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(11 124 43 / 0.5);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 10px;
}

.container img {
    margin-top: 20px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ label > img {
    transform: scale(1.2);
    cursor: zoom-out;
}

.container-2 img{
    margin-top: 40px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.download-1 {
    padding-top: 5px;
    padding-left: 40px;
}

.download-2 {
    padding-top: 5px;
    padding-left: 40px;
}

.details {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(11 124 43 / 0.5);
    border-radius: 20px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-container {
    float: left;
    margin: 10px;
    padding-bottom: 55px;
}

.details section p {
    margin: 20px;
    line-height: 1.4em;
}

.contact-form { 
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(11 124 43 / 0.5);
    border-radius: 20px;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2.5em; 
}