/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    font-family: Helvitca, sans sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

h1 {
    background-color: #0B7C2B;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 40px;
    margin: 0;
}

h2 {
    text-align: center;
}

.links {
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
    position: relative;
    bottom: 30px;
}

.content {
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

.content article {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(11 124 43 / 0.5);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 10px;
}

.container img {
cursor: zoom-in;
}

input[type=checkbox] {
display: none;
}

input[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
}