/* Add screen styles below */
a.active {
    font-weight: bold;
}

.container img {
cursor: zoom-in;
}

input[type=checkbox] {
display: none;
}

input[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
}